html {
  background: linear-gradient(46.19deg, #000000 5.66%, #434343 94.35%);
  font-family: Paladins;
}

body {
  height: 100vh;
  background: url("https://assets.codepen.io/6060109/versus-bg.png") no-repeat center;
  background-size: cover;
  display: flex;
  align-items: space-between;
  width: 100%;
}

text{
  font-family: Paladins;
}

.mayweather-container, .logan-container {
  position: relative;
}

.mayweather-container {
  height: 100%;
  width: 50%;
  /*  Add a "background shorthand" property with
      url("https://assets.codepen.io/6060109/mayweather.png")
      no-repeat
      center
      top
  */
  background: url("https://assets.codepen.io/6060109/mayweather.png") no-repeat center top;

}

.logan-container {
  height: 100%;
  width: 50%;
  /*
  Add a "background shorthand" property with
  url("https://assets.codepen.io/6060109/loganpaul.png")
  no-repeat
  center
  top
  */
  background: url("https://assets.codepen.io/6060109/loganpaul.png") no-repeat center top;

}

.text-container {
  /*
    Add a "background" shorthand property with
    url("https://assets.codepen.io/6060109/yellow-text-wrapper.png")
    no-repeat
  */
  background: url("https://assets.codepen.io/6060109/yellow-text-wrapper.png") no-repeat;
  height: 15%;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  bottom: 10%;
  font-size: 24px;
  margin: auto;
}

.text-container-1 {
  /* left: -10%; */
  padding-left: 100px;
  margin-left: -80px;
}

.text-container-1 h1{
  padding-left: 40px;

}
.text-container-2 {
  /* right: -10%; */
}
.text-container-2 h1 {
    padding-left: 200px;
}

.clock {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36px;
  color: white;
}
