html {
  background: url("https://assets.codepen.io/6060109/lyric-bg-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

body {
  background: url("https://assets.codepen.io/6060109/music.png") no-repeat bottom left;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  font-family: Montserrat;
}

pre {
  font-family: Montserrat;
  height: 95%;
  overflow: scroll;
}

/* [1]
Add top and bottom margin 10px */

h1 {
  font-size: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* [2]
Remove default margin on h4 */
h4 {
  font-size: 36px;
  font-weight: 400;
  opacity: 0.66;
  margin:0px;
  padding: 0;
}

.inner-container {
  height:75%;
  width: 90%;
  margin: auto;
  display: flex;
}
.video-container {
  width: 50%;
}

/*
  [3]
  Add a margin-top to inner-video
  Fixed pixel height
  And percentage width
*/
.inner-video {
  box-shadow: 10px 10px 50px rgba(0, 255, 255, 0.35);
  margin-top: 25px;
  height: 300px;
  width: 85%;
}

.lyrics-container{
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  line-height: 35px;

  height: 80vh;
  width: 60%;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  padding: 5px;
}
